* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	font-family: 'Ubutu', sans-serif;
	overflow: hidden;
	color: aliceblue;
    width: 50%;
	background-color: royalblue;
}
div {
	padding: 50%;
}
